<div class="site-header">
  <div class="header-wrapper">
    <div class="site-info">
      <a class="site-title" href="{{ site.baseurl }}/">samoukw.it</a>
      <div class="site-socials">
        <a href="https://www.facebook.com/samoukw.it/" target="_blank" class="social-item"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/samoukwit" target="_blank" class="social-item"><i class="fa fa-twitter-square"></i></a>
        <a href="https://pl.linkedin.com/in/przemys%C5%82aw-%C5%82ach-7668b8133?trk=prof-samename-name" target="_blank" class="social-item"><i class="fa fa-linkedin-square"></i></a>
        <a class="social-item" href="{{"/feed.xml" | prepend: site.baseurl}}"><i class="fa fa-rss-square"></i></a>
      </div>
    </div>
    <nav class="site-navigation">
      <div class="site-menu">
        <a class="menu-link" href="{{ site.baseurl }}/blog">Blog</a>
        <a class="menu-link" href="{{ site.baseurl }}/about">O mnie</a>
        <a class="menu-link" href="{{ site.baseurl }}/projects">Projekty</a>
      </div>
    </nav>
  </div>
</div>
