<div class="site-header">
  <div class="header-wrapper">
    <div class="site-info">
      <a class="site-title" href="{{ site.baseurl }}/">samoukw.it</a>
      <div class="site-socials">
        <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank" class="social-item"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="social-item"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="social-item"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank" class="social-item"><i class="fa fa-github-square"></i></a>
        <a class="social-item" href="{{"/feed.xml" | prepend: site.baseurl}}"><i class="fa fa-rss-square"></i></a>
      </div>
    </div>
    <nav class="site-navigation">
      <div class="site-menu">
        <a class="menu-link" href="{{ site.baseurl }}/blog">Blog</a>
        <a class="menu-link" href="{{ site.baseurl }}/about">O mnie</a>
        <a class="menu-link" href="{{ site.baseurl }}/projects">Projekty</a>
      </div>
    </nav>
  </div>
</div>
