<div class="site-header">
  <div class="header-wrapper">
    <div class="site-info">
      <a class="site-title" href="{{ site.baseurl }}/">samoukw.it</a>
      <div class="site-socials">
        <i class="fa fa-facebook social-item"></i>
        <i class="fa fa-twitter social-item"></i>
        <i class="fa fa-linkedin social-item"></i>
        <i class="fa fa-rss social-item"></i>
      </div>
    </div>
    <nav class="site-navigation">
      <div class="site-menu">
        <a class="menu-link" href="{{ site.baseurl }}/blog">Blog</a>
        <a class="menu-link" href="{{ site.baseurl }}/about">O mnie</a>
        <a class="menu-link" href="{{ site.baseurl }}/projects">Projekty</a>
      </div>
    </nav>
  </div>
</div>
