.posts-list
  list-style-type: none
  margin: 0 0
  padding-left: 0

  > li
    margin-bottom: 30px
    > span
      display: inline-block
      margin-bottom: 9px
    > h2
      margin-top: 0
      margin-bottom: 18px
    > p
      margin-top: 0
      margin-bottom: 18px

.post-meta
  font-family: 'Dosis-light'
  color: $primary-color-light
  margin-bottom: 18px

.post-link
  font-family: 'Dosis-light'
  color: $primary-color
  margin-top: 0

.read-more-link
  color: $primary-color
