*
  font-family: 'Dosis-regular'

a
  text-decoration: none

  &:hover
    color: $primary-color-light

.tag-link
  display: inline-block
  background: $primary-color-dark
  color: $primary-color-text
  font-family: 'Dosis-light'
  font-size: 14px
  padding:  0 0.5em
  margin-right: 10px
  border-radius: 4px

  &:before
    content: '\f02b'
    font-family: 'FontAwesome'
    padding-right: 0.5em
  &:hover
    background: $primary-color-light
    color: $primary-color-dark
